Plaintext

target/
build/
*.class
*.jar
*.war
*.ear

.idea/
*.iml
*.iws

.metadata/
.classpath
.project
.settings/
bin/

.vscode/

*.log
logs/
temp/
tmp/

.env
*.properties
!application.properties # 예외적으로 기본 설정만 올릴 경우